	</div>


	

	<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
		{{#each navBarButtons}}
		<li class="navbar-btn">
			<a href="{{url}}" class="btn btn-default"><img src="resources/{{imgFile}}" class="navButton img-responsive" /></a>
		</li>
		{{/each}}
		</ul>
	</div>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/jquery-ui-1.10.4.js"></script>
	<!-- This kills things... <script src="js/jquery.mobile-1.4.1.min.js"></script> -->
	<script src="js/procrastinot.js"></script>
</body>
</html>
