<!doctype html>

<html>
<head>
	<title>Procrastinot!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<!-- <link href="css/jquery.mobile.1.4.1.min.css"> -->
	<link href="css/procrastinot.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/jquery-ui-1.10.4.js"></script>
	<script src="//connect.facebook.net/en_US/all.js"></script>
	<!-- This kills things... <script src="js/jquery.mobile-1.4.1.min.js"></script> -->
	<script src="js/procrastinot.js"></script>
</head>

<body>
	<div class="container" id="main-container">