{{> header}}

		<h1 class="text-center">Welcome to Procrastinot!</h1>
		<p>Welcome to Procrastinot! You can navigate through the app using the buttons on the left on this help screen or by using the toolbar on the button of the screen. Remember, you can always access this page again from the Profile page!</p>

		{{#each navBarButtons}}
		<div class="row">
			<div class="col-xs-3">
				<a href="{{url}}" class="btn btn-default homeButton"><img src="resources/{{imgFile}}" class="img-responsive" /></a>
			</div>
			<div class="col-xs-9">
				<h2 class="noTopMargin">{{name}}</h2>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
		

		

		

{{> footer}}