<!doctype html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48665826-1', 'procrastinot.herokuapp.com');
  ga('send', 'pageview');

</script>
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82996342-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


	<title>Procrastinot!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<!-- <link href="css/jquery.mobile.1.4.1.min.css"> -->
	<link href="css/procrastinot.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/jquery-ui-1.10.4.js"></script>
	<script src="//connect.facebook.net/en_US/all.js"></script>
	<!-- This kills things... <script src="js/jquery.mobile-1.4.1.min.js"></script> -->
	<script src="js/procrastinot.js"></script>
</head>

<body>
	<div class="container" id="main-container">

		<h1 class="text-center">Welcome to Procrastinot!</h1>
		<p>Welcome to Procrastinot! You can navigate through the app using the buttons on the left on this help screen or by using the toolbar on the button of the screen. Remember, you can always access this page again from the Profile page!</p>

		{{#each navBarButtons}}
		<div class="row">
			<div class="col-xs-3">
				<a href="{{url}}" class="btn btn-default homeButton"><img src="resources/{{imgFile}}" class="img-responsive" /></a>
			</div>
			<div class="col-xs-9">
				<h2 class="noTopMargin">{{name}}</h2>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
		

		

		

{{> footer}}