{{> header }}

	<h1>Projects</h1>

	<h2>Current Projects</h2>
	<p>This is where the list of in-progress projects will go<p>

	<h3>Past Projects</h3>
	<p>This is where the list of past projects will go<p>

	<h4>Add a Project</h4>

	<form id="addproject" role="form" method="get" action="/addproject">
		
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add Project"></input>
	</form>




	<a href="/">"Go back"</a>

	
{{> footer}}