<!doctype html>


<html>
<head>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
	
	
	<title>Projects</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    
</head>

<body>
	<div class="container">
	<h1>Projects</h1>

	<h2>Current Projects</h2>
	<p>This is where the list of in-progress projects will go<p>

	<h3>Past Projects</h3>
	<p>This is where the list of past projects will go<p>

	<h4>Add a Project</h4>

	<a href="/">"Go back"</a>

	
	</div>
</body>

</html>
