.navButton {
	height: 40px;
}

h1{
	color: #4c66a4;
}

body {
	padding-bottom: 86px;
}

.profilePic {
	width: 50px;
	height: 50px;
}

.homeButton {
	height: 40px;
}

.noTopMargin {
	margin-top: 0px;
}

.collection div {
	float:left;
	padding:5px;
	width: 60px;
	height: 60px;
}

.collection div:hover {
	background-color: green;
}

.friendTableImage {
	width:50px;
	height:50px;
}

.projectTable {
	display:block;
	max-height:200px;
	width:300px;
	overflow-y:scroll;
}

.projectRow:hover {
	background-color: green;
}

.projectTable tr {
	height:10px;
}

.projectTable td {
	width:100%;
	padding:5px;
	border: solid black;
	border-width:1px;
	height:10px;
}