.navButton {
	height: 40px;
}

h1{
	color: #4c66a4;
}

body {
	padding-bottom: 96px;
}

.profilePic {
	width: 100%;
	height: 100%;
}

.homeButton {
	height: 40px;
}

.noTopMargin {
	margin-top: 0px;
}

.collection div {
	float:left;
	padding:5px;
	width: 60px;
	height: 60px;
}

.collection div:hover {
	background-color: green;
}

.friendTableImage {
	width:50px;
	height:50px;
}

.projectTable {
	display:block;
	max-height:200px;
	width:300px;
	overflow-y:scroll;
}

.leaderboardTable {
	display:block;
	max-height: 600px;
	width: 400px;
	overflow-y:scroll;
}

.leaderboardTable td {
	width:200%;
	padding:10px;
	border: solid black;
	border-width:2px;
	height:20px;
}
.leaderboardTable tr {
	height: 50px;
}

.leaderboardRow:hover {
	background-color: blue;
}
.projectRow:hover {
	background-color: green;
}

.projectTable tr {
	height:10px;
}

.projectTable td {
	width:100%;
	padding:5px;
	border: solid black;
	border-width:1px;
	height:10px;
}

.fullProjectTable {
	max-height: 500px;
}

.projectCompleteBox {
	width:30px;
	background-color: red;
}

.fullPic {
	width:100%;
}

.helpButtonDiv {
	padding: 17px;
}